<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\MADai.Api.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="COMPLUS_ForceENC" value="0" />
          <environmentVariable name="ConnectionStrings__Default" value="__ConnectionStrings__Default__" />
          <environmentVariable name="ConnectionStrings__Hangfire" value="__ConnectionStrings__Hangfire__" />
          <environmentVariable name="Jwt__Secret" value="__Jwt__Secret__" />
          <environmentVariable name="Cors__Origins__0" value="__CORS_ORIGIN__" />
          <environmentVariable name="CLAUDE_WORKER_TOKEN" value="__CLAUDE_WORKER_TOKEN__" />
          <environmentVariable name="SMTP_HOST" value="__SMTP_HOST__" />
          <environmentVariable name="SMTP_PORT" value="__SMTP_PORT__" />
          <environmentVariable name="SMTP_SECURE" value="__SMTP_SECURE__" />
          <environmentVariable name="SMTP_USER" value="__SMTP_USER__" />
          <environmentVariable name="SMTP_PASS" value="__SMTP_PASS__" />
          <environmentVariable name="SMTP_FROM_ADDRESS" value="__SMTP_FROM_ADDRESS__" />
        </environmentVariables>
      </aspNetCore>
      <httpProtocol>
        <customHeaders>
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="X-Frame-Options" value="DENY" />
          <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering>
          <verbs allowUnlisted="true">
            <add verb="PATCH" allowed="true" />
            <add verb="PUT" allowed="true" />
            <add verb="DELETE" allowed="true" />
            <add verb="OPTIONS" allowed="true" />
          </verbs>
          <requestLimits maxAllowedContentLength="209715200" />
        </requestFiltering>
      </security>
      <rewrite>
        <rules>
          <rule name="WebSocketPassthrough" stopProcessing="true">
            <match url="^hubs/(.*)" />
            <action type="None" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>
